# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PathfinderV.aps
PathfinderV.rc
PathfinderV.vcxproj
PathfinderV.vcxproj
PathfinderV.vcxproj.filters
resource.h
x64/Debug/PathfinderV.log
x64/Debug/PathfinderV.res
x64/Debug/PathfinderV.tlog/CL.command.1.tlog
x64/Debug/PathfinderV.tlog/CL.read.1.tlog
x64/Debug/PathfinderV.tlog/CL.write.1.tlog
x64/Debug/PathfinderV.tlog/link.command.1.tlog
x64/Debug/PathfinderV.tlog/link.read.1.tlog
x64/Debug/PathfinderV.tlog/link.write.1.tlog
x64/Debug/PathfinderV.tlog/rc.command.1.tlog
x64/Debug/PathfinderV.tlog/rc.read.1.tlog
x64/Debug/PathfinderV.tlog/rc.write.1.tlog
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
x64/Release/PathfinderV.log
x64/Release/PathfinderV.res
x64/Release/PathfinderV.tlog/CL.command.1.tlog
x64/Release/PathfinderV.tlog/CL.read.1.tlog
x64/Release/PathfinderV.tlog/CL.write.1.tlog
x64/Release/PathfinderV.tlog/link.command.1.tlog
x64/Release/PathfinderV.tlog/link.read.1.tlog
x64/Release/PathfinderV.tlog/link.write.1.tlog
x64/Release/PathfinderV.tlog/PathfinderV.lastbuildstate
x64/Release/PathfinderV.tlog/PathfinderV.write.1u.tlog
x64/Release/PathfinderV.tlog/rc.command.1.tlog
x64/Release/PathfinderV.tlog/rc.read.1.tlog
x64/Release/PathfinderV.tlog/rc.write.1.tlog
x64/Release/vc141.pdb
x64/Debug/PathfinderV.tlog/PathfinderV.lastbuildstate
PathfinderV.vcxproj.user
